<% provide(:title, 'Admin Console') %>
<h1>Admin Details</h1>
<%= form_for (@user) do |f| %>
    <table>
      <tr>
        <th>Username</th>
        <th>Email</th>
      </tr>
      <% @admall = User.where("role= ?", 'admin') %>
      <% @admall.each do |mem| %>
          <tr>
            <td><%= "#{mem.username}" %></td>
            <td><%= "#{mem.email}" %></td>
          </tr>
      <%end%>
    </table>
<%end%>