<%= form_for (@user),:url=> url_for(:controller => 'users',:action =>'memsview') do |f| %>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @memsall.inspect %>
    </p>
    <%= link_to 'Back to Admin Console', dumget_path%>
<%end%>