<% provide(:title, 'Admin Console') %>
<h1>Member Details</h1>
<%= form_for (@user) do |f| %>
    <table border="2">
      <tr>
        <th>Username</th>
        <th>Email</th>
        </tr>
        <% @memsall = User.where("role= ?", 'user') %>
        <% @memsall.each do |mem| %>
      <tr>
        <td><%= "#{mem.username}" %></td>
        <td><%= "#{mem.email}" %></td>
      </tr>
      <%end%>
      </table>
<%end%>